body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

.container {
    margin-top: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h1 {
    color: #ffcc00;
}
